
<div class="card-body form-width mx-auto">
	<form class="md-form" action="/photos/add" method="post" enctype="multipart/form-data">
	<div class="file-field text-center">
		<div class="mb-4">
		<img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
			class="rounded-circle z-depth-1-half avatar-pic mt-3" alt="example placeholder avatar">
		<div class="form-group mt-3">
				<label for="title">Title</label>
				<input type="text" class="form-control w-50 mx-auto" name="title" required>
		</div>
		</div>
		<div class="d-flex justify-content-center text-center">
		<div class="btn btn-mdb-color btn-rounded">
			<input type="file" name="inputPhoto" id="file" class="input-photo" accept="image/*" required>
			<label for="file" class="btn-2">upload</label>
			<span id="file-name"></span>
			<button type="submit" class="btn-block btn btn-submit btn-dark mx-auto mt-4">Add photo</button>
		</div>
		</div>
	</div>
	</form>
</div>
